@charset "UTF-8";
body {
	background-color: #EFEFEFFF;
	margin: 0;
}

.my_header_rw {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.my_header_username {
	font-size: 12px;
	text-align: right;
	height: 25px;
}

.pgtitle{
	width: 1000px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pgtitle_pd{
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	align-items: center;
}

.modalArea {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}

#my_header {
	width: 100%;
	height: 120px;
	margin: 0;
	background-color: #DDDDDDFF;
	position: fixed;
	margin-bottom: 10px;
	font-weight: bold;
	box-shadow: 0px 6px 8px 0px #c8c8c8;
}

.my_header_link {
	color: black;
	text-decoration: none;
	transition: 0.2s;
}

#my_header_title {
	display: flex;
	align-items: center;
	flex-grow: 1;
	font-size: large;
	margin-left: 20px;
}

.my_header_el {
	display: flex;
	align-items: center;
	padding: 20px;
}

.my_header_el a:hover {
	color: white;
	text-decoration: underline;
}

#my_header_bottomspace{
	height: 120px;
}

.bbtn{
	border-color: blue;
	background: white;
	color: blue;
}
.bbtn:hover {
	border-color: blue;
	background: blue;
	color: white;
}

.spc-betw{
	display: flex;
	justify-content: space-between
}

.deletebtn{
	background: white;
	border-color: red;
	color: red;
}
.deletebtn:hover{
	background: red;
	border-color: transparent;
	color: white;
}

.pgtitle-txt {
	font-weight: bold;
	font-size: large;
	padding: 8px 15px;
  	border-radius: 5px;
	text-decoration: none;
	color: rgb(183, 183, 183);
	background-color: white;
	border: 2px solid rgb(183, 183, 183);
	transition: 0.3s;
}
.txt-on{
	color: black;
	border-color: black;
}
.txt-off:hover{
	border-color: black;
	color: black;
	text-decoration: underline;
}
