@charset "UTF-8";

.taskTitle{
	flex-grow: 1;
}

.taskDesc{
	height: 100px;
}

.taskDeleteBtn{
	flex-flow: row nowrap;
	justify-content: right;
}

.btnLike {
	padding: 8px 15px;
	background: white;
	font-size: 15px;
  	border-radius: 5px;
}