@charset "UTF-8";

.deletebtn{
	background: white;
	border-color: red;
	color: red;
}
.deletebtn:hover{
	background: red;
	border-color: transparent;
	color: white;
}

/*---------------------------------------*/

.taskTitle{
	flex-grow: 1;
}

.taskDesc{
	height: 100px;
}

.taskDeleteBtn{
	flex-flow: row nowrap;
	justify-content: right;
}