<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/commonModal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/create.css}" type="text/css">
	<script type="text/javascript" th:src="@{/js/inputToday.js}"></script>
	<script type="text/javascript" th:src="@{/js/showConfirm.js}"></script>
	<script type="text/javascript" th:src="@{/js/goBack.js}"></script>
	<title>Task Progress Manager</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: my-header-fragment}"></div>
	<div class="modalArea">
		<div class="pgtitle">
			<div class="pgtitle_pd"><h3>タスク新規登録</h3></div>
		</div>
		<div class="cModal">
			<div class="cmHeader cmEl" th:text="登録情報"></div>
			<form class="cmEl crForm" th:action="@{/create}" th:method="post" th:object="${task}" name="rgForm">
				<div class="cmEl"></div>
				<div class="ctEl">
					<table>
						<tr>
							<td>タイトル</td><td></td>
							<td><input type="text" name="title" th:value="*{title}"></td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">タイトルエラー</span>
							</td>
						</tr>
						<tr>
							<td>説明</td><td></td>
							<td>
								<textarea class="txtArea" name="description" rows="20" cols="100" th:text="*{description}"></textarea>
							</td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">パスワードエラー</span>
							</td>
						</tr>
						<tr>
							<td>期限日</td><td></td>
							<td><input id="due" type="date" name="due" th:value="*{due}" max="2050-12-31" /></td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('due')}" th:errors="*{due}">期限日エラー</span>
							</td>
						</tr>
						<tr>
							<td>精査有無</td><td></td>
							<td>
								<div>
									<label>あり</label><input type="radio" name="dblCheck" value="true">
									<label>なし</label><input type="radio" name="dblCheck" value="false" checked="checked">
								</div>
							</td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('dblCheck')}" th:errors="*{dblCheck}">精査有無エラー</span>
							</td>
						</tr>						
						<tr>
							<td>権限</td><td></td>
							<td>
								<select class="rgSlt" name="authRangeId">
									<option th:value="0">権限を選んでください</option>
									<option th:each="auth, stat : ${list}" th:value="${auth.id}" th:text="|${stat.index + 1}: ${auth.name}|"></option>
								</select>
							</td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('authRangeId')}" th:errors="*{authRangeId}">権限エラー</span>
							</td>
						</tr>
					</table>
				</div>
				<input type="hidden" name="createrId" th:value="*{createrId}">
			</form>
			<div class="cmEl"></div>
			<div class="cmEl fcenter">
				<div class="spc-betw">
					<button class="cmbtn bbtn" type="button" onclick="confirmSubmit()">登録</button>
					<button class="cmbtn dg" type="button" onclick="goBack()">戻る</button>
				</div>
			</div>
			<div class="cmBottom cmEl"></div>
		</div>
	</div>
</body>
</html>