<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/commonModal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/history.css}" type="text/css">
	<title>TaskManagerSystem</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: my-header-fragment}"></div>
	<div class="modalArea">
		<div class="pgtitle">
			<div class="pgtitle_pd">
				<a class="pgtitle-txt txt-on">履歴一覧</a>
			</div>
		</div>
		<div th:each="tk : ${tasks}" th:object="${tk}">
			<div class="cModal">
				<div class="cmHeader cmEl">
					<div class="taskTitle" th:text="*{title}" th:name="tkTitle"></div>
					<div class="btnLike">完了</div>
				</div>
				<div class="taskDesc cmEl" th:text="*{description}"></div>
				<div class="taskDueEdit cmEl cmBottom">
					<div class="taskDue">期限&nbsp;<span th:text="*{due}"></span></div>
					<form action="#" th:action="@{/history/{id}(id=${map[__*{id}__]})}" th:method="get">
						<button class="cmbtn" type="submit">詳細</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>