<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/commonModal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/taskDetail.css}" type="text/css">
	<script type="module" th:src="@{/js/statusColor.js}"></script>
	<script type="module" th:src="@{/js/modalColor.js}"></script>
	<script type="module" th:src="@{/js/indexBtn.js}"></script>
	<script type="text/javascript" th:src="@{/js/goWhere.js}"></script>
	<title>TaskManagerSystem</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: my-header-fragment}"></div>
	<div class="modalArea">
		<div class="pgtitle">
			<div class="pgtitle_pd  spc-betw">
				<a class="pgtitle-txt txt-on">詳細情報</a>
				<form sec:authorize="hasAuthority('HIGH')" action="#" th:action="@{/task/delete/{id}(id=${task.id})}" th:method="get">
					<button class="cmbtn deletebtn" type="submit">削除</button>
				</form>
			</div>
		</div>
		<div class="cModal" th:object="${task}">
			<div class="cmHeader cmEl">
				<div class="taskTitle" th:text="*{title}" th:name="tkTitle"></div>
				<form action="#" th:action="@{/task/toggle/{status}/{id}(status=${status.param},id=*{id})}" th:method="post" name="tkForm">
					<input type="hidden" th:value="${status.id}" name="tkStatus"><!-- js用 -->
					<input type="hidden" th:value="*{dblCheck}" name="tkDblcheck"><!-- js用 -->
					<th:block sec:authorize="hasAuthority('HIGH')">
						<button class="cmbtn tglbtn" type="button" name="tkBtn" th:text="${status.name}"></button>
					</th:block>
					<th:block th:unless="${#authorization.expression('hasAuthority(''HIGH'')')}" th:switch="true">
						<th:block th:case="${status.id} <= 2">
							<button class="cmbtn tglbtn" type="button" name="tkBtn" th:text="${status.name}"></button>
						</th:block>
						<th:block th:case=*>
							<div class="btnLike" th:text="${status.name}"></div>
						</th:block>
					</th:block>
				</form>
			</div>
			<div class="taskDesc cmEl" th:text="*{description}"></div>
			<div class="cmEl">
				<span>精査&nbsp;</span>
				<span th:text="*{dblCheck} ? 'あり' : 'なし'"></span>
			</div>
			<div class="cmEl">
				<span>作成者&nbsp;</span>
				<span th:text="${creater}"></span>
			</div>
			<div class="cmEl">
				<div>
					<span>期限&nbsp;</span>
					<span th:text="*{due}"></span>
				</div>
			</div>
			<div class="cmEl" th:if="${doing != null}">
				<span>作業者&nbsp;</span>
				<span th:text="${doing.username}"></span>
			</div>
			<div class="cmEl" th:if="${dbling != null}">
				<span>精査者&nbsp;</span>
				<span th:text="${dbling.username}"></span>
			</div>
			<div class="taskDeleteBtn cmEl cmBottom">
				<button class="cmbtn" type="button" onclick="goBack()">戻る</button>
			</div>
		</div>
	</div>
</body>
</html>