<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/commonModal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
	<script type="text/javascript" th:src="@{/js/goWhere.js}"></script>
	<title>TaskManagerSystem</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: my-header-fragment}"></div>
	<div class="modalArea">
		<div class="pgtitle">
			<div class="pgtitle_pd spc-betw">
				<div>
					<a class="pgtitle-txt txt-off" th:href="@{/task}" th:if="${!isForm}">タスク一覧</a>
					<a class="pgtitle-txt txt-on">テンプレート一覧</a>
				</div>
				<button th:if="${!isForm}" class="cmbtn bbtn" type="button" onclick="goTmpCreate()">テンプレート作成</button>
				<button th:if="${isForm}" class="cmbtn deletebtn" type="button" onclick="goBack()">戻る</button>
			</div>
		</div>
		<div th:each="tm : ${list}" th:object="${tm}">
			<div class="cModal">
				<div class="cmHeader cmEl">
					<div class="taskTitle" th:text="*{title}" th:name="tkTitle"></div>
					<form action="#" th:action="@{/template/use/{id}(id=*{id})}" th:method="get">
						<button th:if="${isForm}" class="cmbtn bbtn" type="submit" name="tkBtn" th:text="このテンプレートを使う"></button>
					</form>
				</div>
				<div class="taskDesc cmEl" th:text="*{description}"></div>
				<div class="cmEl">権限&nbsp;<span th:text="${auth[__*{id}__]}"></span></div>
				<div class="taskDueEdit cmEl cmBottom">
					<div>作成者&nbsp;<span th:text="${user[__*{id}__]}"></span></div>
					<form th:if="${!isForm}" action="#" th:action="@{/template/delete/{id}(id=*{id})}" th:method="get">
						<button sec:authorize="hasAuthority('HIGH')" class="cmbtn deletebtn" type="submit">削除</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>