<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/commonModal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
	<script type="text/javascript" th:src="@{/js/goBack.js}"></script>
	<title>Task Progress Manager</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: my-header-fragment}"></div>
	<div class="modalArea">
		<div class="pgtitle">
			<div class="pgtitle_pd spc-betw">
				<h3>タスク一覧</h3>
				<button class="cmbtn deletebtn" type="button" onclick="goBack()">戻る</button>
			</div>
		</div>
		<div th:each="tm : ${list}" th:object="${tm}">
			<div class="cModal">
				<div class="cmHeader cmEl">
					<div class="taskTitle" th:text="*{title}" th:name="tkTitle"></div>
					<form action="#" th:action="@{/template/{id}(id=*{id})}" th:method="get" name="tkForm">
						<button class="cmbtn bbtn" type="submit" name="tkBtn" th:text="このテンプレートを使う"></button>
					</form>
				</div>
				<div class="taskDesc cmEl" th:text="*{description}"></div>
				<div class="cmEl"><div>精査&nbsp;<span th:text="*{dblCheck} ? あり : なし"></span></div></div>
				<div class="taskDueEdit cmEl cmBottom">
					<div>期限&nbsp;<span th:text="*{due}"></span></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>