<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/commonModal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/register.css}" type="text/css">
	<script type="text/javascript" th:src="@{/js/showConfirm.js}"></script>
	<script type="text/javascript" th:src="@{/js/goWhere.js}"></script>
	<title>Task Progress Manager</title>
</head>
<body>
	<div class="replace" th:replace="~{/parts/header_part :: my-header-fragment}"></div>
	<div class="modalArea">
		<div class="pgtitle">
			<div class="pgtitle_pd">
				<a class="pgtitle-txt txt-on">ユーザー登録</a>
			</div>
		</div>
		<div class="cModal">
			<div class="cmHeader cmEl" th:text="登録情報"></div>
			<form class="cmEl rgForm" th:action="@{/user/register}" th:method="post" th:object="${user}" name="rgForm">
				<div class="cmEl"></div>
				<div class="rgEl">
					<table>
						<tr>
							<td>ユーザー名</td>
							<td class="tbl-sp"></td><!-- スペース確保用 -->
							<td><input type="text" name="username" th:value="*{username}"></td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">ユーザー名エラー</span>
							</td>
						</tr>
						<tr th:if="${message != null}">
							<td></td><td></td>
							<td><span class="err" th:text="${message}"></span></td>
						</tr>
						<tr>
							<td>パスワード</td><td></td>
							<td><input type="text" name="password" th:value="*{password}"></td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">パスワードnoError</span>
							</td>
						</tr>
						<tr>
							<td>権限</td><td></td>
							<td>
								<select class="rgSlt" name="authId">
									<option th:value="0">権限を選んでください</option>
									<option th:each="auth, stat : ${list}" th:value="${auth.id}" th:text="|${stat.index + 1}: ${auth.name}|"></option>
								</select>
							</td>
						</tr>
						<tr><td></td><td></td>
							<td>
								<span class="err" th:if="${#fields.hasErrors('authId')}" th:errors="*{authId}">権限エラー</span>
							</td>
						</tr>
					</table>
				</div>
				<input type="hidden" name="parentId" th:value="*{parentId}">
			</form>
			<div class="cmEl"></div>
			<div class="cmEl fcenter">
				<div class="spc-betw">
					<button class="cmbtn bbtn" type="button" onclick="confirmSubmit()">登録</button>
					<button class="cmbtn deletebtn" type="button" onclick="goUser()">戻る</button>
				</div>
			</div>
			<div class="cmBottom cmEl"></div>
		</div>
	</div>
</body>
</html>