<header class="my_header_flg" th:fragment="my-header-fragment">
	<div id="my_header">
		<div class="my_header_username"><span sec:authentication="name"></span><span sec:authentication="principal.authorities"></span></div>
		<div class="my_header_rw">
			<div id="my_header_title"><a class="my_header_link" th:href="@{/task}">TaskManagerSystem</a></div>
			<div class="my_header_el"><a class="my_header_link" th:href="@{/task}">TASK</a></div>
			<div class="my_header_el"><a class="my_header_link" th:href="@{/history}">HISTORY</a></div>
			<div class="my_header_el"><a class="my_header_link" th:href="@{/user}">USER</a></div>
			<div class="my_header_el"><a class="my_header_link" th:href="@{/logout}">LOGOUT</a></div>
		</div>
	</div>
	<div id="my_header_bottomspace"></div>
</header>